[Unit]
Description=Can bus transponder
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=odroid
ExecStart=/home/odroid/workspace/vectra/vectra_can

[Install]
WantedBy=multi-user.target